
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your_supabase_publishable_default_key

# can be found here
# https://supabase.com/dashboard/project/cpafdrmaqquhjbaaigku/integrations/data_api/overview
# click connect at the top
# then click second tab app frameworks